
body{
  font-family: 'Poppins', sans-serif;  background-color:#242728;
 }
  html, body {
    height: 100%;
  }
#baner{
    text-align: left;
padding-top: 15px;
color: #e1381a;
padding-left: 20px;
padding-bottom: 20px;
 font-size: 26px;
 font-weight: 700;

}
.info{
  font-size: 21px;
  color: #d7c3bc;
}

.material-symbols-outlined { 
  color: #e1381a;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
  input[type=text] {
    width: 31% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #e1381a !important	;
    border-color: #e1381a !important;
    border-width: 4px !important;
    color: #d7c3bc !important;
    border-radius: 0px !important;


  }

  select {
width: 31% !important;
margin-left: auto !important;
margin-right: auto !important;
background-color: #e1381a !important	;
border-color: #e1381a !important;
border-width: 4px !important;
color: #d7c3bc !important;
border-radius: 0px!important;
font-weight: 700 !important;
text-align: center !important;

  }
#translate-pool{
    width: 60vw !important;
    min-height:  65vh !important;
    text-align: center;

   background-color: #d7c3bc	;
    padding: 3%;
    display: block;
    color: #242728;
    font-size: 25px !important;

}


.content {
  flex: 1;
}

  
.translateButton{
  background-color: #242728 !important	;
  border-color: #e1381a !important;
  border-width: 0px !important;
  color: #d7c3bc !important;
  border-radius: 0px!important;
  font-weight: 700 !important;
  text-align: center !important;
  width: 40% !important;
        
     border: #1b2d45 0px solid;
     height: 50px !important;
padding: 10px;
bottom: 7%;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto;
font-size: 18px;
font-weight: 500;
margin-top: 4rem!important;
}




.footer{


  width: 100%;
  color: #e1381a;
padding-top: 22px;
padding-bottom:12px;
padding-right: 20px;
font-weight: 800;
    font-size: 19px;
    position:absolute;
    bottom:0;



}


.pointer{
  cursor:pointer !important ;
}

@media only screen and (max-width: 1200px) {
  input[type=text] {
   
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;

  }

  select {
width: 50% !important;
margin-left: auto !important;
margin-right: auto !important;
  }
#translate-pool{
  width: 75vw !important;
  min-height:  65vh !important;
  text-align: center;

 background-color: #ffffff	;
  padding: 3%;
  display: block;

  color: #49454e;

}
}

@media only screen and (max-width:768px) {
  input[type=text] {
   
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;

  }

  select {
width: 60% !important;
margin-left: auto !important;
margin-right: auto !important;
  }

  #translate-pool{
    width: 75vw !important;
    min-height:  65vh !important;
    text-align: center;

   background-color: #ffffff	;
   border-radius: 20px 20px 67px 20px !important;
    padding: 3%;
    display: block;

    color: #49454e;

}
}


@media only screen and (max-width:576px) {
  input[type=text] {
   
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;

  }

  select {
width: 70% !important;
margin-left: auto !important;
margin-right: auto !important;
  }

  #translate-pool{
    width: 95vw !important;
    text-align: center;
   background-color: #ffffff	;
   border-radius: 20px 20px 67px 20px !important;
    padding: 3%;
    display: block;

    color: #49454e;

}
.inst{
  padding-top: 10px;
  font-size: 13px;
}
.footer{


  width: 100%;
  color: white;
padding-top: 22px;
padding-bottom:12px;
padding-right: 10px;

    font-size: 14px;
    margin-top: auto;

    background-color: #635b70;


}
}







@media only screen and (max-width:576px ) and (max-height:800px) {
  input[type=text] {
   
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;

  }

  select {
width: 70% !important;
margin-left: auto !important;
margin-right: auto !important;
  }

  #translate-pool{
    width: 95vw !important;
    text-align: center;
   background-color: #ffffff	;
   border-radius: 20px 20px 67px 20px !important;
    padding: 3%;
    display: block;

    color: #49454e;

}
.inst{
  padding-top: 10px;
  font-size: 13px;
}
.footer{


  width: 100%;
  color: white;
padding-top: 22px;
padding-bottom:12px;
padding-right: 10px;

    font-size: 14px;
    margin-top: 10px ;
position: relative;
    background-color: #635b70;


}
}